* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}

.color1 {color: #376f7a;}
.color2 {color: #376d5b;}
.color3 {color: #899f70;}
.color4 {color: #bcbc91;}
.color5 {color: #e0e1cd;}

body {
  background-color: #e0e1cd;
}



.link{
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
    margin-left: 94%;
    width: 5%;
    padding-top: 15px;
}

#log{
    display: block;
    margin-left: 94%;
    margin-bottom: 10px;
    color: white;
    visibility: visible;
    margin-right: 10px;
    background-color: #899f70;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid transparent;
    text-align: center;
    text-indent: 4px;
}

  #log:hover{
    transition: 0.5s;
    background-color: #376f7a;
    border: 1px solid white;
  }

  #log:active{
    transition: 0.5s;
    color: red;
  }


  #login {
    visibility: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #376d5b;
    padding: 10px;
    border: 6px solid #899f70;
    border-radius: 15px;
    color: white;
    animation-name: example;
    animation-duration: 4s;
    text-align: center;
    }
  
   
  #butao{
      padding: 8px;
      display: inline;
      margin-top: 15px;
      border-radius: 10px;
      padding-left: 20px;
      padding-right: 20px;
      background-color: #e0e1cd;
      border: 1px solid
  }
  #butao:hover{
    background-color: #899f70;
    cursor: pointer;
    
   }
  #butao:hover{
    transition: 0.5s;
      color: #e0e1cd;
      border: 1px solid #e0e1cd;
  }

header {
  background-color:#376d5b;
  text-align: center;
  border-bottom: 8px solid #899f70;
  color: white;

}

h1 {
  color: white;
}

.container{
    padding: 50px;
    min-height: 60vh;
}
h2{
    margin-bottom: 30px;
}

.conteudoContainer{
    max-width: 1200px;
    margin: 0 auto;
}

.card{
    display: inline-block;
    width: 31%;
    text-align: center;
    margin: 1% 1%;
    padding: 15px;
    text-align: start;
    margin-bottom: 15px;
    
}

.imagen-Tamanho{
    width: 100%;
    height: 350px;
    border: 8px solid #376d5b;
    border-radius: 20px;
    background-position: 0%;
    background-size: cover;
    margin-bottom: 10px;
}

h3{
    border-left: 5px solid;
    border-color: #899f70;
    padding-left: 10px;
    margin-bottom: 10px;
}

h3:hover   {
    border-color: red;
    
}

 

p{
  margin-bottom: 5px;
}

.qtds{
  width: 40px;
  margin-bottom: 5px;

   
  }
  
  .btnBuy{
    display: block;
    background-color: #376d5b;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: #e0e1cd;
    border-radius: 10px;
  }


.espacoInputs {
  margin: 15px;
}



